/* ----------------------------------

Main CSS file for Singcere_zinc
(C) Singcere! Inc.
http://www.singcere.net
Created & Modified by Sing_did.

-------------------------------------*/


/* All
----------------------------------------------------------------------------------------------------*/
body { padding-top: 40px; _padding-top:0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a, #umnav_menu { transition: background-color 0.3s linear; -moz-transition: background-color 0.3s linear; -webkit-transition: background-color 0.3s linear; -o-transition: background-color 0.3s linear; }
#wp { padding-top: 10px; }
#pt { margin: 0 0 5px 0; }
.bm { border: none; }
.bm_c { padding: 0;}


/* Header
----------------------------------------------------------------------------------------------------*/
#headerInner { width: 960px; margin: 0 auto; }
#header { position: fixed; left: 0; top: 0; z-index: 300; width: 100%; background: url('{STYLEIMGDIR}/forum/header_bg.png') repeat-x; }
#headerInner { z-index: 299; height: 40px; }
#logo { display: block; float: left; height: 30px; margin-top: 3px;}
#scbar { background: none; border: none; position: relative; height: 28px; line-height: 28px;}
#scbar_type { position: absolute; right: 30px; top: 0px; color: #a0c0dd !important;}
#scbar_type_menu { margin-top: -1px;}
#searchBox .bg, #searchBox .btn, .menu-link s, #nav .header-img, #nav .menu-icon s, .main-menu li .png s, .unread-num, .user-menu, .user-menu .arrow s { display: block; background: url('{STYLEIMGDIR}/forum/header_icon.png') no-repeat; }
#searchBox { float: left; display: inline; margin: 6px 10px 0 0; }
#searchBox .bg { position: relative; width: 190px; height: 28px; line-height: 25px; background-position: 0 -57px; }
#searchBox .text-input { float: left; display: inline; width: 120px; height: 20px; line-height: 20px; margin-top: 3px; margin-left: 10px; padding: 0; background: transparent; border: none; color: #a0c0dd !important; outline: none; }
#searchBox .btn { float: right; display: inline; width: 16px; height: 16px; margin-top: 4px; margin-right: 10px; background-position: -32px -30px; border: none; cursor: pointer; }
.nav-list { float: left; display: inline; }
.nav-list .menu-item { float: left; display: inline; margin-left: 2px; }
.nav-list .menu-li span { display: none; }
.nav-list .current, .nav-list .menu-item-hover { background-color: #1f5583; }
.nav-list a:hover { text-decoration: none; }
.main-link .menu-item { height: 38px; line-height: 38px; text-align: center; font-size: 12px; }
.main-link a { display: block; padding: 0 10px; color: #fff; }
.main-link a:hover, .main-link .hover a { background-color: #1f5583; color: #fff; }
.main-menu .menu-item { position: relative; height: 37px; }
.nav-right { float: right; display: inline; }
.nav-right .nav-list { margin-left: 0; }
.nav-right .sub-menu { color: #535353; zoom:1; }
.expand-subMenu .sub-menu { display: block; }
.menu-link { display: block; padding: 8px 10px 0 10px; height: 29px; color: #FFF; _display:inline-block; }
.menu-link s { display: block; width: 24px; height: 24px; cursor: pointer; }
.header-subnav .p_pop { padding: 5px; background: #1f5583; box-shadow: none; border: none; border-radius: 0 0 3px 3px; min-width: 70px; }
.header-subnav .p_pop li { margin-top: 5px; }
.header-subnav .p_pop a { color: #fff; border-radius: 3px 0 3px 0; padding: 3px 3px 3px 10px; height: 20px; line-height: 20px; text-decoration: none; border-bottom: none; }
.header-subnav li:hover a { background: #fff; color: {HIGHLIGHTLINK}; text-decoration: none; }
.menu-link:hover { background-color: #1f5583; color:#fff; }
.notification s { background-position: -25px 0; }
.notification:hover s { background-position: -131px -30px; }
.msg s { background-position: -49px 0; }
.msg:hover s { background-position: -154px -30px; }
.user-menu { position: relative; float: left; display: inline; width: 47px; height: 26px; margin-left: 8px; margin-top: 6px; background-position: -77px -1px;  *z-index: 200; }
.user-menu .arrow { display: block; position: absolute; padding: 8px 4px; right: 2px; top: 3px; }
.user-menu .arrow s { display: block; width: 13px; height: 6px; background-position: -187px -2px; }
.user-menu .user-img { position: absolute; left: 3px; top: 3px; display: block; width: 20px; height: 20px; }
.user-menu .user-img img { width: 20px; height: 20px; }
.membercontrol { float: left;}
.main-menu { position: relative; top: 0; }
.main-menu li #msg_menu, .main-menu li #snotice_menu {transition:none; -moz-transition: none; -webkit-transition: none; -o-transition:none;}
.main-menu li .unread-num { position: absolute; top: 2px; right: 0; z-index: 10000; width: 20px; height: 20px; line-height: 20px; background-position: -75px -32px; color: #fff; text-align: center;}
.sub-menu { position: absolute; right: 0; top: 24px; z-index: -1; width: 115px; margin-top: 2px; background: #fff; border: 1px solid #2f597e; border-radius: 3px 0 3px 3px; box-shadow: 0 1px 2px #78b; }
.snotice { margin-right: 2px; }
.user-menu .sub-menu { z-index: 100; }
.user-menu .sub-menu li { padding: 0 5px;}
.ie7 .user-menu .sub-menu li, .ie6 .user-menu .sub-menu li { display: inline;}
.user-menu .sub-menu a { display: block; width: auto; margin: 5px 0; padding: 2px 10px; color: #626262; _height:20px; }
.user-menu .sub-menu a:hover { background: #d6e2ed; color: #626262; font-weight: normal; }
#diy-tg { float: none; background: none; text-indent: 0;}
#mn_forum_menu #fjump_menu { border:none; _width:600px;}
#mn_forum_menu { margin-top: 2px;}


/* Regist
----------------------------------------------------------------------------------------------------*/
#fwin_login .m_c{ background: #fff url('{STYLEIMGDIR}/forum/fwin_login.png') no-repeat right bottom; }
.rfm { border-bottom: none; }
.fwin .rfm th, .fwin .rfm td, .nfl .f_c .rfm th, .nfl .f_c .rfm td { padding: 6px 2px; }
.rfm th { width: 5em; }
form .rfm th { text-align: left; font-size: 14px; }
form .rfm { margin-left: 0; }
#nv_member .bm { border:none; box-shadow: 0 1px 1px rgba(0,0,0,0.02); background: #fff; border-radius: 3px; background: #fff url('{STYLEIMGDIR}/forum/fwin_register.jpg') no-repeat right bottom; }
#nv_member .bm_c { padding: 0;}
#nv_member .rfm .rq { display: none;}



/* Diy
----------------------------------------------------------------------------------------------------*/
.temp { margin: 0; }
.block { margin: 0; }
.xl1 li { padding: 4px 0; }
.frame, .frame-tab { border: none; margin: 0; background: none; }
.frame .title, .frame-tab .title { margin-bottom: 10px; background-position: -150px 0; }
.frame-tab .title { height: 34px; line-height: 34px; border-bottom-width: 3px; background-position: -150px 0; }
.frame-tab .tb-c { padding: 0 5px 0 5px; }
.frame-tab .tb { float: right; padding: 0; margin-top: 5px; }
.frame-tab .tb li { height: 30px; font-size: 12px; margin-left: 1px; text-align: center; line-height: 25px; }
.frame-tab .tb li a { padding: 0 10px 0 0; height: 30px; font-weight: normal; text-decoration: none; }
.frame-tab .tb li.a a { color: {HIGHLIGHTLINK}; background: none; font-weight: normal; text-decoration: none; }
.frame-tab .xl1 ol { background: url('{STYLEIMGDIR}/list_num.png') no-repeat 0 6px; }
.frame-tab .xl1 li { padding-left: 25px; height: 1.5em; }
.frame-tab .tb-c { padding: 0;}
.slideshow span.title { border-bottom: 0;}



/* Cat
----------------------------------------------------------------------------------------------------*/
.bm_h, .fl .bm_h, .bml .bm_h, .bmw .bm_h, .title { height: 36px; line-height: 36px; border: none; background: none; margin-bottom: 10px; padding: 0; border-bottom: 3px solid #F4F4F4; overflow: visible; }
.bm_h h1, .bm_h h2, .fl .bm_h h2, .bm_h h3, .frame .title .titletext, .block .title .titletext, .frame-tab .tab-title .titletext { padding:0 10px 0 0; margin:0; text-decoration: none; display: block; float: left; font-size: 14px; font-weight: bold; height: 34px; line-height: 34px; }
.bml .bm_h { padding-top: 0; }
.wp .bm_h h1, .wp .bm_h h2, .wp .bm_h a { color: #626262; }
.subforumdescription { float: left; }
.subforumzt { float: right; width: 80px; }
.subforumnew { float: right; width: 200px; }
.ct2_a, .ct3_a { }




/* Button
----------------------------------------------------------------------------------------------------*/
.pgs #newspecial, .pgs #newspecialtmp { float: left; width: 101px; height: 33px; background: #fff url('{STYLEIMGDIR}/forum/pn_post.png') no-repeat 0 0; }
#post_reply, #post_replytmp { float: left; background: url('{STYLEIMGDIR}/forum/pn_reply.png') no-repeat right top; width: 59px; height: 33px; }
#post_reply:hover, #post_replytmp:hover { background-position: right bottom; }
#newspecial img, #newspecialtmp img, #post_reply img, #post_replytmp img { visibility: hidden; }
.pn { border-radius: 3px; margin-left: 0; }
.pnc, a.pnc { font-weight: bold; }




/* Showbox
----------------------------------------------------------------------------------------------------*/
.card { width: 320px !important; }
.card .o { padding: 5px 0 0 10px; }
.card .o a { background: {SPECIALBG}; padding: 5px; color: #333; }
.card .o a:hover { background: #FFF; }
.card_gender_0 { background: #FFF;}
.flbc { background-image: url('{STYLEIMGDIR}/forum/cls.gif'); transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; }
.p_pop, .p_pof, .sllt { box-shadow: 0 0 5px rgba(0,0,0,0.2); border: 1px solid #ccc; }
.p_pop .flbc, .p_pof .flbc { margin-right: 0; }
.m_l, .m_r, .t_l, .t_c, .t_r, .b_c, .b_l, .b_r { display: none; }
.fwinmask, #icoImg_image_menu { background-color: #fff; border: 1px solid #ccc; box-shadow: 0 0 5px rgba(0,0,0,0.2); border-radius: 3px; }
.fwinmask .m_c .o { border-top: 1px solid #e9e9e9; padding: 10px 15px; background: none; overflow: hidden; }
.fwinmask .m_c .o label { float: left; margin-right: 10px; }
.fwinmask .m_c .o bottom { float: right; }
.fwinmask .tpcl { border: none; }
.fwinmask .tpcl li { border-bottom-style: dotted; padding: 5px 0; border-top: none; }
.fwinmask .tpmh { height: auto; }
.flb { line-height: 18px; padding: 9px 9px 8px 15px; border-top: 1px solid #fff; border-bottom: 1px solid #e7e7e7; background: #f6f6f6; }
.flb em { color: #333; }
.m_c .c { padding: 10px 15px 15px; line-height: 28px; }
#fwin_content_showMsgBox.m_c .c { padding: 0 }
.p_opt { line-height: 30px; }
#mdly { background-color: #fff; }
.pg_viewthread #mdly.fwinmask { width: 178px; z-index: 1; }
.pmfm { padding: 0;}




/* Input
----------------------------------------------------------------------------------------------------*/
.px, .pt, .ps, select { padding: 4px 4px; line-height: 18px; border: 1px solid #ccc; background-color: #fff; box-shadow: 2px 2px 2px #f0f0f0 inset; vertical-align: middle; margin: 0; font-family: inherit; color: #333; }
.ftid a { border: 1px solid #ccc; background-color: #fff; box-shadow: 2px 2px 2px #f0f0f0 inset; height: 25px; line-height: 25px;  background-image: url('{STYLEIMGDIR}/forum/newarow.gif');}
.dpbtn { border: none; background-image: url('{STYLEIMGDIR}/forum/newarow.gif'); }
.tedt { border: 1px solid #ccc; }
.tedt .pt { box-shadow: none; }




/* Tab
----------------------------------------------------------------------------------------------------*/
.tb { padding-bottom: 10px; padding-left: 0; }
.tb li { margin: 0; _dispaly:block; }
.tb a { border: none; border-radius: 3px; background: none; height: 26px; line-height: 26px; _height:auto;}
.tb .a a, .tb .current a { color: #fff; background: {HIGHLIGHTLINK}; }
.m_c .tb { padding: 10px;}
#uhd .tb .a a {border: none;}




/* Page
----------------------------------------------------------------------------------------------------*/
.pg a, .pg strong, .pgb a, .pg label { border-radius: 3px; text-decoration: none; min-width: 10px; text-align: center; border:none; background-color: #F9F9F9; }
.pg a:hover, .pgb a:hover, .pg strong { background-color: {HIGHLIGHTLINK}; color: #FFF; font-weight:normal;}




/* Else
----------------------------------------------------------------------------------------------------*/
#ft { margin-top:10px;}
.footer { line-height: 22px; margin: 2em 0; text-align: center; font-family: Arial, Helvetica, sans-serif, "黑体" }
#scrolltop { margin-left: 10px; background: #F9F9F9}
#scrolltop a { padding: 6px 5px; }
#scrolltop, #scrolltop a { border: none;}
.a_mu { border: none; background: none; width: 960px; margin-bottom: 5px; }
.tns th { border-color: #EEE;}