<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css"></style>




<!--Append Begin-->
<link rel="stylesheet" type="text/css" href="template/singcere_zoo/src/css/q_index.css">
<!--Append End-->




<!--首页通栏广告A begin-->
<div class="qi-advs">
  <!--[diy=diy-ada]--><div id="diy-ada" class="area"></div><!--[/diy]--> 
</div>
<!--首页通栏广告A end-->




<!--门户头条 begin-->
<div class="qi-hotspot"> 
  <!--头条 begin-->
  <div class="qi-hotspot-topic">
    <div class="qi-hotspot-group">
      <!--[diy=hotspot-qtitle1]--><div id="hotspot-qtitle1" class="area"></div><!--[/diy]--> 
    </div>
    <div class="qi-hotspot-group">
      <!--[diy=hotspot-qtitle2]--><div id="hotspot-qtitle2" class="area"></div><!--[/diy]--> 
    </div>
    <div class="qi-hotspot-group">
      <!--[diy=hotspot-qtitle3]--><div id="hotspot-qtitle3" class="area"></div><!--[/diy]--> 
    </div>
  </div>
  <!--头条 end--> 
  
  <!--幻灯片 begin-->
  <div class="qi-slide">
    <!--[diy=qi-slide]--><div id="qi-slide" class="area"></div><!--[/diy]--> 
  </div>
  <!--幻灯片 end--> 
</div>
<!--门户头条 end--> 




<!--首页通栏广告B begin-->
<div class="qi-advs">
  <!--[diy=diy-adb]--><div id="diy-adb" class="area"></div><!--[/diy]--> 
</div>
<!--首页通栏广告B end--> 




<!--首页三栏内容 begin-->
<div class="qi-multi">

  <div class="qi-ml">
    <div class="qi-news-s2">
      <!--[diy=news-s1]--><div id="news-s1" class="area"></div><!--[/diy]--> 
    </div>
    <div class="qi-news-s2">
      <!--[diy=news-s2]--><div id="news-s2" class="area"></div><!--[/diy]--> 
    </div>
    <div class="qi-news-s2">
      <!--[diy=news-s3]--><div id="news-s3" class="area"></div><!--[/diy]--> 
    </div>
  </div>

  <div class="qi-mc">
    <div class="qi-news-s2">
      <!--[diy=news-s4]--><div id="news-s4" class="area"></div><!--[/diy]--> 
    </div>
    <div class="qi-news-s2">
      <!--[diy=news-s5]--><div id="news-s5" class="area"></div><!--[/diy]--> 
    </div>
    <div class="qi-news-s2">
      <!--[diy=news-s6]--><div id="news-s6" class="area"></div><!--[/diy]--> 
    </div>
  </div>

  <div class="qi-mr">
    <div class="qi-news-s2">
      <!--[diy=news-r1]--><div id="news-r1" class="area"></div><!--[/diy]--> 
    </div>
    <div class="qi-news-s2">
      <!--[diy=news-r2]--><div id="news-r2" class="area"></div><!--[/diy]--> 
    </div>
    <div class="qi-news-s2">
      <!--[diy=news-r3]--><div id="news-r3" class="area"></div><!--[/diy]--> 
    </div>
  </div>
</div>
<!--首页三栏内容 end--> 




<!--首页通栏广告C begin-->
<div class="qi-advs">
  <!--[diy=diy-adc]--><div id="diy-adc" class="area"></div><!--[/diy]--> 
</div>
<!--首页通栏广告C end--> 




<!--通栏部分 begin-->
<div class="qi-arow js-switch-box">
  <div class="qi-subtitle js-switch-title"> <strong class="qtitle">论坛精彩</strong>
    <ul class="subtitle-nav js-switch-tab">
      <li class="sd01" id="tb_21" onmouseover="HoverLi(2,1,4);"><a href="forum.php?mod=forumdisplay&fid=48">旅行</a></li>
      <li class="sd02" id="tb_22" onmouseover="HoverLi(2,2,4);"><a href="forum.php?mod=forumdisplay&fid=49">美食</a></li>
      <li class="sd02" id="tb_23" onmouseover="HoverLi(2,3,4);"><a href="forum.php?mod=forumdisplay&fid=53">居家</a></li>
      <li class="sd02" id="tb_24" onmouseover="HoverLi(2,4,4);"><a href="forum.php?mod=forumdisplay&fid=54">时尚</a></li>
    </ul>
    <a class="subtitle-side" href="forum.php">进入论坛</a> </div>
  <!--板块一-->
  <div id="tbc_21" class="dis">
    <div class="qi-news-pic">
      <div class="headline"><!--[diy=tbc-211]--><div id="tbc-211" class="area"></div><!--[/diy]--></div>
      <div class="smallpic"><!--[diy=tbc-212]--><div id="tbc-212" class="area"></div><!--[/diy]--></div>
    </div>
    <div class="qi-news-list-box"><!--[diy=tbc-213]--><div id="tbc-213" class="area"></div><!--[/diy]--></div>
  </div>
  <!--板块二-->
  <div id="tbc_22" class="undis">
    <div class="qi-news-pic">
      <div class="headline"><!--[diy=tbc-221]--><div id="tbc-221" class="area"></div><!--[/diy]--></div>
      <div class="smallpic"><!--[diy=tbc-222]--><div id="tbc-222" class="area"></div><!--[/diy]--></div>
    </div>
    <div class="qi-news-list-box"><!--[diy=tbc-223]--><div id="tbc-223" class="area"></div><!--[/diy]--></div>
  </div>
  <!--板块三-->
  <div id="tbc_23" class="undis">
    <div class="qi-news-pic">
      <div class="headline"><!--[diy=tbc-231]--><div id="tbc-231" class="area"></div><!--[/diy]--></div>
      <div class="smallpic"><!--[diy=tbc-232]--><div id="tbc-232" class="area"></div><!--[/diy]--></div>
    </div>
    <div class="qi-news-list-box"><!--[diy=tbc-233]--><div id="tbc-233" class="area"></div><!--[/diy]--></div>
  </div>
  <!--板块四-->
  <div id="tbc_24" class="undis">
    <div class="qi-news-pic">
      <div class="headline"><!--[diy=tbc-241]--><div id="tbc-241" class="area"></div><!--[/diy]--></div>
      <div class="smallpic"><!--[diy=tbc-242]--><div id="tbc-242" class="area"></div><!--[/diy]--></div>
    </div>
    <div class="qi-news-list-box"><!--[diy=tbc-243]--><div id="tbc-243" class="area"></div><!--[/diy]--></div>
  </div>
</div>
<!--通栏部分 end--> 




<!--论坛活动 begin-->
<div class="qi-arow">
  <div class="qi-subtitle"> <strong class="qtitle">论坛活动</strong>
    <ul class="subtitle-nav">
    </ul>
    <a class="subtitle-side" href="forum.php">更多活动</a> </div>
    <div class="activity-list"><!--[diy=activity-1]--><div id="activity-1" class="area"></div><!--[/diy]--></div>
    <div class="qi-news-list-box"><!--[diy=activity-2]--><div id="activity-2" class="area"></div><!--[/diy]--></div>
</div>
<!--论坛活动 end--> 




<!--友情链接 begin-->
<div class="qi-friends">
    <p class="qtitle">友情链接</p>
    <!--[diy=diy-friends]--><div id="diy-friends" class="area"></div><!--[/diy]--> 
</div>
<!--友情链接 end--> 




<!--Js Begin-->
<script>
function g(o){
    return document.getElementById(o);
}
function HoverLi(m,n,counter){
    for(var i=1;i<=counter;i++){
        g('tb_'+m+i).className='sd02';
        g('tbc_'+m+i).className='undis';
    }
    g('tbc_'+m+n).className='dis';
    g('tb_'+m+n).className='sd01';
}
</script>
<!--Js Begin-->




<!--{subtemplate common/footer}--> 
